{
  "presets": ["es2015", "stage-0", "react"],
  "plugins": [
    [
      "react-transform", {
        "transforms": [{
          "imports": ["react"],
          "locals": ["module"]
        }]
      }
    ]
  ]
}
